*
{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

html,body {
   height: 100%;
   width: 100%;
  /* background-color: aliceblue; */
  position:relative;
}


.logo
{
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

.heading {
  display: flex;
  justify-content: space-between;
  background-color: rgb(121, 121, 233);
  height: 30%;
  width: 100%;
  flex-wrap: wrap;
}

.heading h1 {
  margin-top: 10vw;
  margin-left: 10vw;
  color: white;
}
.heading p {
  margin-top: 2vw;
  margin-left: 10vw;
  color: white;
}
.heading button {
  border-radius: 17em;
  background-color: white;
  margin-top: 2vw;
  margin-left: 10vw;
  color: blue;
  padding: 1em;
  font-weight: bold;
}
.heading img {
  margin: 5em;
  margin-right: 10em;
  height: 20rem;
  width: 15rem;
}
.ff {
  padding-top: 1em;
  text-align: center;
  background-color aliceblue:
}

.f .first {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.f .second {
  display: flex;
  justify-content: center;
  /* font-size: large; */
}
.f h3 {
  color: blue;
  margin: 1em;
  font-size: large;
}
.a {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
.ab {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.aa {
  display: flex;
  justify-content: center;
}
.abt {
  /* margin-left: auto; */
  /* height: 10px; */
  height: 15em;
  border-width: 2em;
  border-color: aqua;
}

.para {
  padding-top: 1em;
  text-align: center;
  font-weight: 500;
  font-size: 1.01em;
}
.x {
  display: flex;
  justify-content: center;
}
i {
  padding: 0.4em;
  color: black;
}
.fa-brands {
  color: black;
}
.s {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.ss {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  color:black;
}
.bx {
  display: flex;
  justify-content: center;
}

.bx button {
  border-radius: 17em;
  background-color: white;
  margin: 2em;
  color: black;
  padding: 1em;
  font-weight: bold;
}
button :hover {
  background-color: blue;
  color: white;
}

.serv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.r {
  margin: 5em;
  margin-right: 10em;
  height: 20rem;
  width: 15rem;
  background-color: aqua;
}
.l {
  margin: 5em;
}

button {
  border-radius: 17em;
  background-color: blue;
  margin: 2em;
  color: black;
  padding: 1em;
  font-weight: bold;
}
li {
  padding-top: 0.5em;
  font-weight: 500;
}

.cr {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.s {
  padding-top: 1em;
}
.c {
  height: 3em;
  border-radius: 100%;
  width: 3em;
  margin-left: 40%;
}
.t {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.t p {
  text-align: center;
}
.al {
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
  /* width:5vw; */
}
.al>.ali
{
  width:65vw;
}

.last {
  background-color: blue;
  border-radius: 50% 50% 0% 0%;
}
/* .last  {
  color: white;
} */

.ll {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position:relative;
}
.one {
  height: 45vw;
  
}
.two {
  height: 45vw;
}
.cnt {
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: blue;
}
.footer h2 {
  text-align: center;
  color: white;
}

.store img {
  height: 40px;
}
.store {
  text-align: center;
  padding-top: 1em;
}
.last>.s{
  color:white;
}
.last>.ss{
  color:white;
}
.lbtn
{

  display: flex;
  justify-content: center;
}
.copy {
  display: flex;
  justify-content: space-around;
}
.copy p {
  color: white;
}
